<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/atm.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Operacions</title>
</head>


<body>
    <a href="/ingressar" class="button">Ingressar</a>
    <a href="/retirar" class="button">Retirar</a>
    <a href="/transferencia" class="button">Transferencia</a>
    <a href="/canviarPIN" class="button">Canviar PIN</a>
    <a href="/moviments" class="button">Moviments</a>

    




</body>


</html>